<h1>Tweets</h1>

<% @tweets.each do |tweet| %>
  <div class="tweet">
    <h3><%= tweet.userName %></h3>
    <p><%= tweet.description %></p>
  </div>
<% end %>

<%= will_paginate @tweets %>

<p style="color: green"><%= notice %></p>

<h1>Tweets</h1>

<div id="tweets">
  <% @tweets.each do |tweet| %>
    <%= render tweet %>
    <p>
      <%= link_to "Show this tweet", tweet %>
    </p>
  <% end %>
</div>

<%= link_to "New tweet", new_tweet_path %>

